:root {
  font-size: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
  margin: 1rem;
  background-color: rgb(224, 235, 239);
  padding: 1rem;
}

h1, h3, p {
  color: rgb(76, 85, 88);
}

h1, h3 {
  font-weight: bold;
}

h1 {
  font-size: 1.8rem;
}

h3 {
  padding-top: 1rem;
  font-size: 1.2rem;
}

p {
  padding-top: 1rem;
}

p:nth-of-type(2) {
  color: rgb(163, 107, 107);
}

.cursive {
  font-style: italic;
}

.button-container {
  padding: 1rem 0;
}